{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<title>Estore | About Us</title>
<!--Main start-->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">About Us</h2>
                    <!-- <p class="card-text">We are a dedicated team of professionals committed to providing high-quality
                        products and exceptional customer service. Learn more about our story below.</p> -->

                    <!-- About Us Content -->
                    Welcome to [Food Town], your go-to destination for culinary delights delivered straight to
                    your doorstep. Explore a diverse range of local and international cuisines, carefully curated for
                    your enjoyment. We prioritize quality, working closely with our partner restaurants to ensure fresh
                    and flavorful dishes every time. With a user-friendly interface and a commitment to exceptional
                    customer service, we make ordering easy and your satisfaction our top priority. Join us at [Your
                    Company Name] for a seamless and delicious dining experience.
                    
                </div>
            </div><br><br><br><br>
        </div>
    </div>
</div>

<!--Main end-->


{% endblock 'main' %}