{%  load static %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOD PANDA</title>
    <link href="{% static 'assets/css/bootstrap.min.css'   %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/style1.css'   %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    

</head>

<body>
    <div class="container">

        Footer start
        <div class="container"> -->
            <div class="row mt-4 bg-light">
                <div class="col-md-4">
                    <h5>Address</h5>
                    <hr>
                    14, Mahadev Niwas, Sarvodaya Nagar <br>
                    Near shani Teample <br>
                    bhandup west- Mumbai <br><br>
                    <p><i class="bi bi-telephone"></i>&nbsp;Contact Number:- 9082586801 </p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <hr>
                    <p><a href="index.html">Home</a></p>
                    <p><a href="contact.html">Contact</a></p>
                    <p><a href="about.html">About Us</a></p>
                    <p><a href="Restaurant.html">Restaurant</a></p>

                </div>
                <div class="col-md-4">
                    <h5>Connect Us</h5>
                    <hr>
                    <h5><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
                    <h5><a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a></h5>
                    <h5><a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a></h5>
                    <h5><a href="https://twitter.com/"><i class="bi bi-twitter"></i></a></h5>


                </div>
            </div>
        </div>
    </div>
    <!-- footer end-->
    <script src="{% static 'assets/js/popper.js'   %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'   %}"></script>
    <script src="{% static 'assets/js/main.js'   %}"></script>


</body>

</html>